<%- include('ek/header', {bot, user, path}) %>
<script type="text/javascript">
var title = "Astarius Code";
document.title = title;
</script>
		<div align="center">
      <h1 style="color: red">ERROR</h1>
      <h3 style="color:#fff">You can vote for each bot every 6 hours!</h3>
</div>
</div></div></div></div>
<%- include ./ek/footer.ejs %>