<%- include('ek/header', {bot, user, path}) %>
<script type="text/javascript">
var title = "Astarius - Bot Rules";
document.title = title;
document.getElementById("sertifika").classList.add('active');
</script>
<br><br><center>
<strong><italic><h1 style="color: red">Bot Rules</h1></strong></italic>
<br><h4 style="color: white">1- Your bot should not be just nsfw.
<br><br>2- There should be no "dm-announcement" style prohibited commands on your bot.
<br><br>3- Your bot should not be a copy.
<br><br>4- Your bot should not be a ban bot.
<br><br>5- Your bot should not be able to ping more than 300ms.
<br><br>6- There should be no "unadjustable" commands on your bot.</h4>>
  
 <br><br></center> </div></div></div>
<% include ./ek/footer %>